.navbar-main {
    display: flex;
    width: 100%;
    align-items: flex-start;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: $spacer * 1.25;
    }

    &__topbar {
        width: 100%;
        display: flex;
    }

    &__menubar {
        width: 100%;
        display: flex;

        .dropdown-item {
            text-transform: uppercase;
        }
    }

    &__submenu {
        width: 100%;
        display: flex;
        border-top: 1px solid rgba($black, 0.5);
        border-bottom: 1px solid rgba($black, 0.5);

        .nav-link {
            font-size: $font-size-sm;
        }
    }
}
