
.ui-icon {
    &__path {
        transition: $transition-base;
        fill: $black;
    }

    &--cyan &__path {
        fill: $cyan;
    }

    &--white &__path {
        fill: $white;
    }

    &--primary &__path {
        fill: $primary;
    }

    &--danger &__path {
        fill: $danger;
    }

    &--pointer {
        cursor: pointer;
    }

    &--hoverable {
        cursor: pointer;
    }

    &--hover-darker:hover & {
        &__path {
            fill: rgba($white, .6);
            transition: $transition-base;
        }
    }

    &--hover-primary:hover & {
        &__path {
            fill: rgba($primary, .6);
            transition: $transition-base;
        }
    }

    &--hover-danger:hover & {
        &__path {
            fill: rgba($danger, .6);
            transition: $transition-base;
        }
    }

    &--has-shadows {
        filter: drop-shadow( 0 0 16px rgba($black, .6));
    }
}
